.flex-box-dash{
    display: flex;
    flex-direction: column;
    margin-left: 40vh;
}
 .flex-item-dash{
    background-color: #BDC1C3;
    color: #173D62;
    font-size: 5vh;
    margin: 2vh;
 }

 .welcome{
    margin-left: 40vh;
    margin-top: 5vh;
    color: "white";
}