*{
  background-color: #173D62;
}

.heading {
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: -4vh;
  text-align: center;
  background-color: #7F8FA6;
  font-size: 6vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub-heading{
  font-size: 1.7rem;
}

.heading-container{
  width: 100%; 
  margin-left: 19%;
  margin-bottom: 70%;
  width: 100%; 
  margin-top: -10%;
}

.authentication{
  width: 70%; 
  margin-top: -60%;
  margin-bottom: 10%;
  margin-left: 35%;
  align-items: center; 
  background-color: #BDC1C3;
  padding-bottom: 7vh;
}

.heading-auth{
  background-color: #BDC1C3;
  color: #173D62;
  padding-left: 28vh;
  padding-top: 2vh;
}

.sub-heading-auth{
  background-color: #BDC1C3;
  color: #173D62;
  align-items: center;
  padding-left: 2vh;
}

.auth-form{
  background-color: #BDC1C3;
  display: flex;
  flex-direction: column;
}

.flex-item{
  padding: 0.7vh;
  margin: 1vh;
  border-radius: 8px;
}

button{
  background-color: #173D62;
  color: #BDC1C3;
}