.flex-box-dash{
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
}
 .flex-item-dash{
    background-color: #BDC1C3;
    color: #173D62;
    font-size: 5rem;
    margin: 2rem;
 }
