.flex-box-implant{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.flex-item-implant{
    background-color: #BDC1C3;
    color: #173D62;
    font-size: 3.5rem;
    margin: 2rem;
    margin-left: 40rem;
}